body {
    background-color: #323232;
}

.metro {
    color:#F8F1AD
}

.events {
    color:#EDACA3
}

Link {
    font-size: small;
}

p {
    font-size: small;
}

h1 {
    color: black;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Optional: Adds space between the boxes */
   }

   .boxTab {
    flex: 1; /* Optional: Makes each box take up an equal amount of space */
    /*border: 1px solid #ccc; /* Optional: Adds a border around each box */
    max-width: 30%;
   }

   .boxTabCenter {
    flex: 1; /* Optional: Makes each box take up an equal amount of space */
    /*border: 1px solid #ccc; /* Optional: Adds a border around each box */
    width: 60%;
   }

   .boxTabRight {
    flex: 1; /* Optional: Makes each box take up an equal amount of space */
    /*border-left: 10px solid black; /* Optional: Adds a border around each box */
    /*border-bottom: 10px solid black;*/
    max-width: 20%;
   }

   ::-webkit-scrollbar {
    display: none;
}
